################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Run/obj
/.vs/Run/FileContentIndex
/Run/Properties/PublishProfiles
/Run/tcc
/.vs/Run/v17
/Run/bin/Debug/net8.0
/.vs/Run/DesignTimeBuild
/.vs/ProjectEvaluation/run.metadata.v7.bin
/.vs/ProjectEvaluation/run.projects.v7.bin
/Run/bin/x64
/Run/.vscode
